<navbar></navbar>
<div class="container profile-page" *ngIf="userProfile">
    <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-12 col-md-offset-3">
            <div class="card profile-header">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right">
                                <img src="{{userProfile.photo}}" alt=""> </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <h4 class="m-t-0 m-b-0">
                                <strong>{{userProfile.firstname}}</strong> {{userProfile.lastname}}</h4>
                            <span class="job_post">Student</span>
                       
                            <p>Iasi,Romania</p> <br>

                            <!-- Make query on database -->
                            <span class="label label-default" style="color:lightcoral" >Python Entry 21/44  </span> <br>
                            <span class="label label-default" style="color:lightblue" >C++ Mid 105/150  </span> <br> 
                            <span class="label label-default" style="color:lightgreen" >Java Senior 105/116  </span> <br> <br>
                            
                            <div>
                                <!-- <button class="btn btn-primary btn-round">Follow</button>
                                    <button class="btn btn-primary btn-round btn-simple">Message</button> -->
                            </div>
                            <p class="social-icon m-t-5 m-b-0">

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>